.favorites {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  height: 400px;
  overflow-y: auto;
}

.favorites h3 {
  font-size: 20px;
  margin: 0 0 10px 0; /* removes top margin */
}


.favorite-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.favorite-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.fav-title {
  font-size: 14px;
  font-weight: 500;
}

.open-button {
  width: fit-content;
  padding: 6px 10px;
  font-size: 12px;
  border: none;
  background-color: #1e1e1e;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.empty-msg {
  font-size: 14px;
  color: #777;
}
